@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.righteous {
    font-family: 'Righteous', cursive;
}

body{
    background-color: #eeeeee;
}

header {
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    
    background-color: #cf2b2b;
    color: white;
    box-shadow: 1px 5px 12px -6px #000000;
}

header > div {
    /* background-color: black; */
    width: fit-content;
    margin-left: 20px;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

main {
    /* background-color: lightcoral; */
    margin-top: 100px;
    margin-bottom: 100px;
}

section {
    /* background-color: cadetblue; */
    margin: 5px;
    padding: 10px;
}

section > h1 {
    font-size: 25px;
    /* background-color: #cf2b2b;; */
    padding: 0 0 15px 11px;
}

.generic-menu {
    /* background-color: cadetblue; */
    height: 250px;

    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}

.generic-menu > div {
    background-color: white;
    height: 216px;    
    margin: 0 10px;
    padding: 15px;
    border-radius: 9px;
    box-sizing: border-box;
    position: relative;
}

#img-check  {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.checked {
    outline: 4px #32B72F solid;
}

.generic-menu > div img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    box-sizing: border-box;
}

.item-description {
    /* background-color: rebeccapurple; */
    height: 90px;
    width: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 8px;
}

.item-description h1 {
    font-size: 16px;
    font-weight: bold;
}

.item-description h2 {
    font-size: 15px;
    color: #a6a5a5;
}

.item-description p {
    font-size: 16px;
 }

.form {
    width: 100%;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
}

.enable-button {
    background-color: #32B72F;
}

.form > button {
    width: 364px;
    height: 61px;
    border: none;
    border-radius: 50px;
    background-color: #9d9d9d;
    color: white;

    font-size: 20px;
}

.modal {
    display: flex;
    justify-content: center;    
}

.hidden {
    display: none;
}

.modal-content {
    width: 90%;
    height: 353px;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 30%;
    
    color: white;
    background-color: #50D074;
    border-radius: 9px;
    font-size: 22px;
}

.modal-content h1 {
    text-align: center;
    font-weight: 700;
    margin-top: 25px;
}

#modal-text {
    margin-top: 10px;
    padding: 10px 20px ;
    line-height: 35px;
}
#modal-text > div {
    display: flex;
    justify-content: space-between;
}

#total {
    font-weight: 700;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 15px;
}

#confirm-button {
    height: 52px;

    border: none;
    background-color: white;
    color: #50D074;
    font-size: 22px;
    border-radius: 100px;
}

#cancel-button {
    background-color: inherit;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-top: 10px;
}